main {
  height: 100vh;
  position: relative;
  .backBTN {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 30px;
    cursor: pointer;
  }

  .content {
    .fa-lock {
      font-size: 40px;
      background: var(--brand-color);
      padding: 15px 20px;
      border-radius: 10px;
      color: var(--white-color);
    }

    p {
      font-size: 16px;
      color: var(--paragraph-color);
    }

    .input {
      border: 1px solid var(--border-color);
      padding: 10px;
      border-radius: 10px;
      input {
        width: 100%;
        background: transparent;
        border: 0;
        outline: none;
        color: var(--black-color);

        &::placeholder {
          font-weight: 500;
        }
      }

      i {
        color: var(--paragraph-color);
      }
      &:focus-within {
        border: 1px solid var(--brand-color);

        & i {
          color: var(--black-color);
        }
      }
    }

    button {
      letter-spacing: 1px;
    }
  }
}
