<main class="d-flex justify-content-center align-items-center">
  <i class="fa-solid fa-arrow-left backBTN" routerLink="/auth/sign-in"></i>
  <div class="content text-center mx-3" [dir]="'dir' | translate">
    <i class="fa-solid fa-key mb-4"></i>
    <h1 class="h2 mb-2 fw-bolder">
      {{ "reset-password.createNewPasswordHeader" | translate }}
    </h1>
    <p>
      {{ "reset-password.createNewPasswordMessage" | translate }}
    </p>
    <form
      (ngSubmit)="submitForm()"
      [formGroup]="newPassword"
      class="d-flex flex-column gap-4"
    >
      <div class="inputGroup d-flex align-items-start flex-column gap-2">
        <label class="fw-semibold">{{
          "reset-password.emailLabel" | translate
        }}</label>
        <div class="input d-flex align-items-center gap-2 w-100">
          <i class="bx bx-envelope fs-5"></i>
          <input
            type="email"
            [placeholder]="'reset-password.emailPlaceholder' | translate"
            formControlName="email"
            class="w-100 fw-bold"
          />
        </div>

        <div
          class="alerts"
          *ngIf="
            newPassword.get('email')?.errors &&
            newPassword.get('email')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="newPassword.get('email')?.getError('required')"
          >
            {{ "accountInformation.validation.email.required" | translate }}
          </p>
        </div>
      </div>

      <div class="inputGroup d-flex flex-column align-items-start gap-2">
        <label class="text-start fw-semibold">{{
          "reset-password.newPasswordLabel" | translate
        }}</label>
        <div class="px-2 py-2 input d-flex align-items-center gap-2 w-100">
          <i class="bx bx-lock-alt fs-5"></i>
          <input
            formControlName="newPassword"
            class="w-100 fw-bold"
            [type]="showPassword ? 'text' : 'password'"
            [placeholder]="'reset-password.newPasswordPlaceholder' | translate"
          />
          <i
            role="button"
            (click)="togglePasswordVisibility()"
            [ngClass]="{
                        'fa-eye-slash' : showPassword,
                        'fa-eye' : !showPassword,
                    }"
            class="fa-regular"
          ></i>
        </div>
        <div
          class="alerts text-start"
          *ngIf="
            newPassword.get('newPassword')?.errors &&
            newPassword.get('newPassword')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="newPassword.get('newPassword')?.getError('required')"
          >
            {{ "reset-password.passwordRequired" | translate }}
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="newPassword.get('newPassword')?.getError('pattern')"
          >
            {{ "reset-password.passwordPatternError" | translate }}
          </p>
        </div>
      </div>

      <button type="submit" class="primary-btn fw-bold">
        {{ "reset-password.confirmPasswordButton" | translate }}
      </button>
    </form>
  </div>
</main>
