<main class="d-flex justify-content-center align-items-center">
  <i class="fa-solid fa-arrow-left backBTN" routerLink="/auth/sign-in"></i>
  <div class="content text-center mx-3">
    <i class="fa-solid fa-key mb-4"></i>
    <h1 class="h2 mb-2 fw-bolder">Create New Password</h1>
    <p>
      Please enter a new password, Ensure that<br />
      your password is different from the previous <br />
      one for better security.
    </p>
    <form
      (ngSubmit)="submitForm()"
      [formGroup]="newPassword"
      class="d-flex flex-column gap-4"
    >
      <div class="inputGroup d-flex flex-column gap-2">
        <label class="text-start fw-semibold">Email Address</label>
        <div class="input d-flex align-items-center gap-2">
          <i class="bx bx-envelope fs-5"></i>
          <input
            type="email"
            placeholder="Enter your email"
            formControlName="email"
            class="w-100 fw-bold"
          />
        </div>
      </div>

      <div class="inputGroup d-flex flex-column align-items-start gap-2">
        <label class="text-start fw-semibold">New Password</label>
        <div class="px-2 py-2 input d-flex align-items-center gap-2 w-100">
          <i class="bx bx-lock-alt fs-5"></i>
          <input
            formControlName="newPassword"
            class="w-100 fw-bold"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="At least 8 characters"
          />
          <i
            role="button"
            (click)="togglePasswordVisibility()"
            [ngClass]="{
                        'fa-eye-slash' : showPassword,
                        'fa-eye' : !showPassword,
                    }"
            class="fa-regular"
          ></i>
        </div>
        <div
          class="alerts text-start"
          *ngIf="
            newPassword.get('newPassword')?.errors &&
            newPassword.get('newPassword')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="newPassword.get('newPassword')?.getError('required')"
          >
            Password is required
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="newPassword.get('newPassword')?.getError('pattern')"
          >
            Password requires at least one uppercase letter and one number.
          </p>
        </div>
      </div>

      <button type="submit" class="primary-btn fw-bold">
        Confirm password
      </button>
    </form>
  </div>
</main>
