<main>
  <h2 class="h5 fw-bolder mb-4">{{ "addAddress.title" | translate }}</h2>

  <form class="form" [formGroup]="addressDetails" (ngSubmit)="onSubmit()">
    <div class="inputs mb-3">
      <div class="inputGroup mb-3">
        <div class="px-2 py-2 input">
          <input
            formControlName="name"
            class="w-100"
            type="text"
            [placeholder]="'addAddress.fullName' | translate"
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            addressDetails.get('name')?.errors &&
            addressDetails.get('name')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="addressDetails.get('name')?.getError('required')"
          >
            {{ "addAddress.validation.name.required" | translate }}
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="addressDetails.get('name')?.getError('minlength')"
          >
            {{ "addAddress.validation.name.minlength" | translate }}
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="addressDetails.get('name')?.getError('pattern')"
          >
            {{ "addAddress.validation.name.pattern" | translate }}
          </p>
        </div>
      </div>

      <div class="inputGroup mb-3">
        <div class="px-2 py-2 input">
          <input
            formControlName="details"
            class="w-100"
            type="text"
            [placeholder]="'addAddress.addressDetails' | translate"
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            addressDetails.get('details')?.errors &&
            addressDetails.get('details')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="addressDetails.get('details')?.getError('required')"
          >
            {{ "addAddress.validation.details.required" | translate }}
          </p>
        </div>
      </div>

      <div class="inputGroup mb-3">
        <div class="px-2 py-2 input">
          <input
            formControlName="city"
            class="w-100"
            type="text"
            [placeholder]="'addAddress.city' | translate"
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            addressDetails.get('city')?.errors &&
            addressDetails.get('city')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="addressDetails.get('city')?.getError('required')"
          >
            {{ "addAddress.validation.city.required" | translate }}
          </p>
        </div>
      </div>

      <div class="inputGroup mb-3">
        <div class="px-2 py-2 input">
          <input
            formControlName="phone"
            class="w-100"
            type="text"
            [placeholder]="'addAddress.phoneNumber' | translate"
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            addressDetails.get('phone')?.errors &&
            addressDetails.get('phone')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="addressDetails.get('phone')?.getError('required')"
          >
            {{ "addAddress.validation.phone.required" | translate }}
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="addressDetails.get('phone')?.getError('pattern')"
          >
            {{ "addAddress.validation.phone.pattern" | translate }}
          </p>
        </div>
      </div>
    </div>

    <button type="submit" class="primary-btn fw-bold fs-6">
      {{ "addAddress.confirmButton" | translate }}
    </button>
  </form>
</main>
