nav {
  border-bottom: 1px solid var(--border-color);
  .form {
    background-color: var(--lighten-background);
    border-radius: 10px;
    width: 300px;
    i {
      color: var(--paragraph-color);
      font-size: 23px;
    }
    input {
      background: transparent;
      border: 0;
      outline: none;
    }
  }

  .controls {
    i {
      font-size: 23px;
    }

    .nav-btn {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .language-btn {
      font-weight: 500;
      font-size: 18px;
      color: var(--paragraph-color);
    }

    .user-control {
      background-color: var(--darken-background);
      border-radius: 10px;
      font-weight: 500;
      font-size: 18px;
      color: var(--brand-color);
    }

    .user-profile {
      border: 1px solid var(--border-color);
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }
}

app-shop-phone-nav {
  display: none;
}

@media (max-width: 940px) {
  nav {
    .form {
      width: fit-content;
      i {
        font-size: 20px;
      }
    }

    .controls {
      i {
        font-size: 20px;
      }

      .nav-btn {
        gap: 6px;
      }

      .language-btn {
        font-size: 16px;
      }

      .user-control {
        font-size: 16px;
      }

      .user-profile {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 786px) {
  nav {
    .container-fluid {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
}

@media (max-width: 590px) {
  nav {
    display: none;
  }

  app-shop-phone-nav {
    display: block;
  }
}
