<main data-aos="fade-down">
  <h2 class="h5 fw-bolder mb-4">{{ "changePassword.title" | translate }}</h2>

  <form class="form" [formGroup]="passwordData" (ngSubmit)="onSubmit()">
    <div class="inputs mb-3">
      <div class="inputGroup mb-3">
        <div class="px-2 py-2 input">
          <input
            formControlName="currentPassword"
            class="w-100"
            type="password"
            [placeholder]="
              'changePassword.placeholders.currentPassword' | translate
            "
          />
        </div>
        <p class="mb-0 px-2 text-danger" *ngIf="errMsg">
          {{ errMsg }}
        </p>
        <div
          class="alerts"
          *ngIf="
            passwordData.get('currentPassword')?.errors &&
            passwordData.get('currentPassword')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="passwordData.get('currentPassword')?.getError('required')"
          >
            {{
              "changePassword.validation.currentPassword.required" | translate
            }}
          </p>
        </div>
      </div>

      <div class="inputGroup mb-3">
        <div class="px-2 py-2 input">
          <input
            formControlName="password"
            class="w-100"
            type="password"
            [placeholder]="
              'changePassword.placeholders.newPassword' | translate
            "
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            passwordData.get('password')?.errors &&
            passwordData.get('password')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="passwordData.get('password')?.getError('required')"
          >
            {{ "changePassword.validation.password.required" | translate }}
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="passwordData.get('password')?.getError('pattern')"
          >
            {{ "changePassword.validation.password.pattern" | translate }}
          </p>
        </div>
      </div>

      <div class="inputGroup">
        <div class="px-2 py-2 input">
          <input
            formControlName="rePassword"
            class="w-100"
            type="password"
            [placeholder]="
              'changePassword.placeholders.confirmPassword' | translate
            "
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            passwordData.get('rePassword')?.errors &&
            passwordData.get('rePassword')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="passwordData.get('rePassword')?.getError('required')"
          >
            {{
              "changePassword.validation.confirmPassword.required" | translate
            }}
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="passwordData.get('rePassword')?.getError('misMatch')"
          >
            {{
              "changePassword.validation.confirmPassword.misMatch" | translate
            }}
          </p>
        </div>
      </div>
    </div>

    <button type="submit" class="primary-btn fw-bold fs-6">
      {{ "changePassword.labels.changePasswordButton" | translate }}
    </button>
  </form>

  <p-dialog
    [header]="'changePassword.dialog.logoutHeader' | translate"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
    draggable="false"
  >
    <div class="text-center">
      <p>{{ "changePassword.dialog.logoutMessage" | translate }}</p>
      <button type="button" class="primary-btn" (click)="removeToken()">
        {{ "changePassword.dialog.button" | translate }}
      </button>
    </div>
  </p-dialog>
</main>
