<main data-aos="fade-down">
  <h2 class="h5 fw-bolder mb-4">Change password</h2>

  <form class="form" [formGroup]="passwordData" (ngSubmit)="onSubmit()">
    <div class="inputs mb-3">
      <div class="inputGroup mb-3">
        <div class="px-2 py-2 input">
          <input
            formControlName="currentPassword"
            class="w-100"
            type="password"
            placeholder="Current Password"
          />
        </div>
        <p class="mb-0 px-2 text-danger" *ngIf="errMsg">
          {{ errMsg }}
        </p>
        <div
          class="alerts"
          *ngIf="
            passwordData.get('currentPassword')?.errors &&
            passwordData.get('currentPassword')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="passwordData.get('currentPassword')?.getError('required')"
          >
            Current password is required
          </p>
        </div>
      </div>

      <div class="inputGroup mb-3">
        <div class="px-2 py-2 input">
          <input
            formControlName="password"
            class="w-100"
            type="password"
            placeholder="New password"
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            passwordData.get('password')?.errors &&
            passwordData.get('password')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="passwordData.get('password')?.getError('required')"
          >
            New password is required
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="passwordData.get('password')?.getError('pattern')"
          >
            Password requires at least one uppercase letter and one number.
          </p>
        </div>
      </div>

      <div class="inputGroup">
        <div class="px-2 py-2 input">
          <input
            formControlName="rePassword"
            class="w-100"
            type="password"
            placeholder="Confirm password"
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            passwordData.get('rePassword')?.errors &&
            passwordData.get('rePassword')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="passwordData.get('rePassword')?.getError('required')"
          >
            Confirm password number is required
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="passwordData.get('rePassword')?.getError('misMatch')"
          >
            Passwords does not match
          </p>
        </div>
      </div>
    </div>

    <button type="submit" class="primary-btn fw-bold fs-6">
      Change password
    </button>
  </form>

  <p-dialog
    header="Account logout"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
    draggable="false"
  >
    <div class="text-center">
      <p>You're going to be logged out</p>
      <button type="button" class="primary-btn" (click)="removeToken()">
        Ok
      </button>
    </div>
  </p-dialog>
</main>
