.root {
  .login-panel {
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      h1 {
        color: var(--brand-color);
      }
    }

    .login-form {
      margin-top: 80px;
      form {
        .inputs {
          transition: 0.5s;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          .inputGroup {
            .input {
              border: 1px solid var(--border-color);
              background: var(--input-bg);
              border-radius: 10px;
              input {
                outline: none;
                border: 0;
                background: transparent;
                font-size: 18px;
              }
              &:focus-within {
                border-color: var(--brand-color);
              }
            }
          }
        }

        button {
          &:hover {
            color: var(--brand-color);
            background: transparent;
            box-shadow: 0 0 2px 1px var(--brand-color);
          }
        }

        p a {
          color: var(--brand-color);
        }
      }

      .spliter {
        .line {
          width: 100%;
          height: 1px;
          background: var(--border-color);
        }
        color: var(--paragraph-color);
        font-size: 18px;
      }

      .social-media {
        .option {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 18px;
          border: 1px solid var(--border-color);
          border-radius: 10px;
          background: var(--input-bg);
          cursor: pointer;
          i {
            color: var(--brand-color);
            font-size: 28px;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .root {
    .login-panel {
      .logo {
        gap: 10px;
        flex-direction: column;
      }
      .login-form {
        margin-top: 150px;

        .toggle__options {
          .check__box {
            label {
              font-size: 14px;
            }
          }

          a {
            font-size: 14px;
          }
        }
        p {
          font-size: 13px;
        }
      }
    }
    .image-container {
      display: none;
    }
  }
}
