<main data-aos="fade-down" data-aos-offset="40">
  <h2 class="h5 fw-bolder mb-4">
    {{ "accountInformation.title" | translate }}
  </h2>

  <form class="form" [formGroup]="accountData" (ngSubmit)="onSubmit()">
    <div class="inputs mb-3">
      <div class="inputGroup mb-3">
        <div class="px-2 py-2 input">
          <input
            formControlName="name"
            class="w-100"
            type="text"
            [placeholder]="'accountInformation.placeholders.name' | translate"
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            accountData.get('name')?.errors && accountData.get('name')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="accountData.get('name')?.getError('required')"
          >
            {{ "accountInformation.validation.name.required" | translate }}
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="accountData.get('name')?.getError('minlength')"
          >
            {{ "accountInformation.validation.name.minlength" | translate }}
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="accountData.get('name')?.getError('pattern')"
          >
            {{ "accountInformation.validation.name.pattern" | translate }}
          </p>
        </div>
      </div>

      <div class="inputGroup mb-3">
        <div class="px-2 py-2 input">
          <input
            formControlName="email"
            class="w-100"
            type="email"
            placeholder="john@example.com"
          />
        </div>
        <p class="mb-0 px-2 text-danger" *ngIf="errMsg">
          {{ errMsg }}
        </p>
        <div
          class="alerts"
          *ngIf="
            accountData.get('email')?.errors &&
            accountData.get('email')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="accountData.get('email')?.getError('required')"
          >
            {{ "accountInformation.validation.email.required" | translate }}
          </p>

          <p
            class="mb-0 px-2 text-danger"
            *ngIf="accountData.get('email')?.getError('email')"
          >
            {{ "accountInformation.validation.email.email" | translate }}
          </p>
        </div>
      </div>

      <div class="inputGroup">
        <div class="px-2 py-2 input">
          <input
            formControlName="phone"
            class="w-100"
            type="text"
            [placeholder]="'accountInformation.placeholders.phone' | translate"
          />
        </div>
        <div
          class="alerts"
          *ngIf="
            accountData.get('phone')?.errors &&
            accountData.get('phone')?.touched
          "
        >
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="accountData.get('phone')?.getError('required')"
          >
            {{ "accountInformation.validation.phone.required" | translate }}
          </p>
          <p
            class="mb-0 px-2 text-danger"
            *ngIf="accountData.get('phone')?.getError('pattern')"
          >
            {{ "accountInformation.validation.phone.pattern" | translate }}
          </p>
        </div>
      </div>
    </div>

    <button type="submit" class="primary-btn fw-bold fs-6">
      {{ "accountInformation.labels.applyChangesButton" | translate }}
    </button>
  </form>
</main>
