<nav class="d-flex justify-content-start">
  <div class="container-fluid mx-0 py-2">
    <ul class="px-0 mb-0 d-flex justify-content-around align-items-center">
      <li
        role="button"
        routerLink="/wishlist"
        routerLinkActive="active-link"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <i class="fa-regular mb-1 fa-heart"></i>
        <a class="fw-medium">Wishlist</a>
      </li>

      <li
        role="button"
        routerLink="/cart"
        routerLinkActive="active-link"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <i class="fa-solid mb-1 fa-bag-shopping"></i>
        <a class="fw-medium">Cart</a>
      </li>
      <li
        role="button"
        routerLink="/account"
        routerLinkActive="active-link"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <i class="fa-regular mb-1 fa-user"></i>
        <a class="fw-medium">Profile</a>
      </li>
      <li
        role="button"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <i class="fa-solid mb-1 fa-globe"></i>
        <a class="fw-medium">Language</a>
      </li>
    </ul>
  </div>
</nav>
