<app-client-nav></app-client-nav>

<section class="container mt-3 root">
  <app-bread-crumb></app-bread-crumb>
  <div class="row gy-5 pt-4 mb-5" [dir]="'dir' | translate">
    <div class="col-lg-7">
      <div class="product-overview d-flex gap-4">
        <div class="thumbnails d-flex flex-column justify-content-center gap-3">
          <div
            class="thumbnail"
            *ngFor="let thumbnail of product.images.slice(0, 4); let i = index"
            (click)="selectThumbnail(i)"
          >
            <img [src]="thumbnail" alt="image" />
          </div>
        </div>
        <div class="banner">
          <img [src]="currentThumbnail" [alt]="product.title" />
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="product-information">
        <div class="product-details mb-4 pb-5">
          <h2 class="fw-bold mb-3 h3">{{ product.title }}</h2>
          <div class="rating mb-1">
            <i
              [ngClass]="{
                'rating-color': product.ratingsAverage >= num,
                'fa-regular': product.ratingsAverage < num,
                'fa-solid': product.ratingsAverage >= num
              }"
              *ngFor="let num of [1, 2, 3, 4, 5]"
              class="fa-star fs-5"
            >
            </i>
          </div>
          <div class="price mb-3">
            <span class="fw-normal fs-4">{{
              product.price | currency : "E£"
            }}</span>
          </div>

          <div class="description fs-6 fw-medium">
            {{ product.description }}
          </div>
        </div>

        <div
          class="product-controls d-flex gap-2 align-items-center mb-5 w-100"
        >
          <button class="share-btn" title="Share">
            <i class="bx bx-share-alt"></i>
          </button>
          <button class="wishlist-btn" title="Add to wishlist">
            <i
              *ngIf="!wishListProducts.includes($any(product.id))"
              role="button"
              class="fa-regular fa-heart"
              (click)="addToWishlist($event, product.id)"
            ></i>
            <i
              *ngIf="wishListProducts.includes($any(product.id))"
              role="button"
              class="fa-solid fa-heart"
              (click)="removeFromWishlist($event, product.id)"
            ></i>
          </button>
          <button
            class="cart-btn primary-btn w-100 fw-bold fs-6"
            (click)="addToCart($event, product.id)"
          >
            {{ "BUTTONS.addToCart" | translate }}
          </button>
        </div>

        <div class="features">
          <div class="feature shipping py-4 px-3">
            <div class="feature-content d-flex align-items-center gap-3">
              <div class="feature-icon">
                <i class="fa-solid fa-truck-fast fs-3"></i>
              </div>
              <div class="feature-text">
                <h4 class="mb-0 h5">
                  {{ "productDetails.freeShipping.title" | translate }}
                </h4>
                <p
                  class="mb-0 text-decoration-underline fw-medium"
                  role="button"
                >
                  {{ "productDetails.freeShipping.description" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="feature py-4 px-3">
            <div class="feature-content d-flex align-items-center gap-3">
              <div class="feature-icon">
                <i class="fa-solid fa-rotate fs-3"></i>
              </div>
              <div class="feature-text">
                <h4 class="mb-0 h5">
                  {{ "productDetails.returnDelivery.description" | translate }}
                </h4>
                <p class="mb-0 fw-medium">
                  {{ "productDetails.returnDelivery.description" | translate }}
                  <span class="text-decoration-underline" role="button">
                    {{ "productDetails.returnDelivery.details" | translate }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="reviews_box d-flex flex-column align-items-center mt-5 border-bottom pb-4"
    [dir]="'dir' | translate"
  >
    <h2 class="text-uppercase position-relative fw-semibold">
      {{ "productDetails.reviews.title" | translate }}
    </h2>

    <div class="w-100 reviews">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center flex-column">
            <p
              class="mb-0 w-100 text-center fs-5 fw-medium no_reviews"
              *ngIf="reviews.length == 0"
            >
              {{ "productDetails.reviews.noReviews" | translate }}
            </p>
            <div
              class="my-4 pb-2 pt-4 border-bottom"
              *ngFor="let review of product.reviews"
            >
              <h6 class="fw-semibold">{{ review.name }}</h6>
              <h3 class="fw-bolder">{{ review.title }}</h3>
              <p class="mb-0 review_body fw-medium">{{ review.reviewBody }}</p>
            </div>
            <button
              (click)="toggleActive()"
              class="outLined-primary-btn fw-bold text-uppercase my-3 mx-auto"
            >
              {{ "productDetails.reviews.writeReview" | translate }}
            </button>
          </div>
        </div>

        <div class="col-12" *ngIf="isActive">
          <form [formGroup]="reviewFrom" (ngSubmit)="addReview()">
            <h3 class="h5 text-uppercase mb-4 fw-semibold">
              {{ "productDetails.reviews.reviewForm.title" | translate }}
            </h3>
            <div class="my-3 d-flex flex-column">
              <label class="mb-2" for="name">
                {{ "productDetails.reviews.reviewForm.name" | translate }}
              </label>
              <input
                type="text"
                class="w-50"
                formControlName="name"
                id="name"
                [placeholder]="'PLACEHOLDERS.reviewName' | translate"
              />
            </div>
            <div class="my-3 d-flex flex-column">
              <label class="mb-2" for="email">{{
                "productDetails.reviews.reviewForm.email" | translate
              }}</label>
              <input
                type="email"
                class="w-50"
                formControlName="email"
                id="email"
                placeholder="example@email.com"
              />
            </div>
            <div class="my-3 d-flex flex-column">
              <label class="mb-2" for="title">{{
                "productDetails.reviews.reviewForm.reviewTitle" | translate
              }}</label>
              <input
                type="text"
                class="w-50"
                formControlName="title"
                id="title"
                [placeholder]="'PLACEHOLDERS.reviewTitle' | translate"
              />
            </div>
            <div class="my-3 d-flex flex-column">
              <label class="mb-2" for="review">{{
                "productDetails.reviews.reviewForm.reviewBody" | translate
              }}</label>
              <textarea
                formControlName="reviewBody"
                id="review"
                class="w-50"
                [placeholder]="'PLACEHOLDERS.reviewBody' | translate"
              ></textarea>
            </div>

            <button
              type="submit"
              class="my-2 btn outLined-primary-btn fw-bold text-uppercase"
            >
              {{ "productDetails.reviews.reviewForm.submitButton" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="related mt-2 pt-4">
    <div
      [dir]="'dir' | translate"
      class="heading d-flex justify-content-between align-items-center mb-4"
    >
      <h3 class="mb-0 fw-semibold">
        {{ "productDetails.relatedProducts.title" | translate }}
      </h3>
      <button
        class="primary-btn"
        [routerLink]="['/shop/categories', product.category._id]"
      >
        {{ "productDetails.relatedProducts.exploreMore" | translate }}
      </button>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let product of relatedProducts">
        <ng-template carouselSlide>
          <div
            class="product mx-3"
            [routerLink]="['/product-details', product.id]"
          >
            <div class="image position-relative">
              <i
                *ngIf="!wishListProducts.includes($any(product.id))"
                role="button"
                class="fa-regular fa-heart"
                (click)="addToWishlist($event, product.id)"
              ></i>
              <i
                *ngIf="wishListProducts.includes($any(product.id))"
                role="button"
                class="fa-solid fa-heart"
                (click)="removeFromWishlist($event, product.id)"
              ></i>
              <img
                [src]="product.imageCover"
                [alt]="product.imageCover"
                [title]="product.title"
              />

              <div
                class="button-overlay d-flex justify-content-center align-items-center"
              >
                <button
                  class="primary-btn"
                  (click)="addToCart($event, product.id)"
                >
                  Add to Cart <i class="fa-solid fa-shopping-cart mx-1"></i>
                </button>
              </div>
            </div>
            <div
              class="product-details d-flex justify-content-between align-items-center gap-3 px-3 py-4"
            >
              <div class="product-text mt-3 w-100">
                <p class="mb-0 fw-medium text-capitalize">
                  {{ product.category.name }}
                </p>
                <div
                  class="d-flex align-items-center justify-content-between gap-1"
                >
                  <h6 class="mb-0 fw-semibold">{{ product.title }}</h6>
                  <p class="price fw-medium mb-0 fw-bold">
                    {{ product.price | currency : "E£" }}
                  </p>
                </div>
                <div class="rating">
                  <i
                    [ngClass]="{
                      'rating-color': product.ratingsAverage >= num,
                      'fa-regular': product.ratingsAverage < num,
                      'fa-solid': product.ratingsAverage >= num
                    }"
                    *ngFor="let num of [1, 2, 3, 4, 5]"
                    class="fa-star"
                  >
                  </i>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>

<app-footer></app-footer>
