.root {
  .product-overview {
    .thumbnail {
      width: 150px;
      height: 150px;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .banner {
      width: 100%;
      height: calc((150px * 4) + 3rem);
      border-radius: 10px;
      overflow: hidden;
    }
  }

  .product-information {
    .product-details {
      border-bottom: 1px solid var(--border-color);
    }

    .product-controls {
      .share-btn,
      .wishlist-btn {
        font-size: 25px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: transparent;
        outline: none;
        border: 0;
      }
      .wishlist-btn {
        border: 1px solid var(--border-color);
      }
    }

    .features {
      border: 1px solid var(--border-color);
      border-radius: 10px;
      .shipping {
        border-bottom: 1px solid var(--border-color);
      }
    }
  }

  .reviews_box {
    .reviews {
      .no_reviews {
        color: var(--paragraph-color);
      }

      .review_body {
        color: var(--paragraph-color);
      }

      label {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
      }

      form {
        input,
        textarea {
          border: 1px solid var(--border-color) !important;
          background: var(--input-bg) !important;
          border-radius: 10px;
          outline: none;
          border: 0;
          background: transparent;
          font-size: 18px;
          padding: 8px 10px;

          &:focus {
            border-color: var(--brand-color) !important;
          }
        }

        .outLined-primary-btn {
          transition: 0.5s;

          &:hover {
            transform: translateY(-5px);
          }
          &:active {
            transform: translateY(0px);
          }
        }
      }
    }
  }

  .related {
    .product {
      overflow: hidden;
      .image {
        position: relative;
        height: 300px;
        border-radius: 20px;
        overflow: hidden;
        .fa-heart {
          position: absolute;
          top: 15px;
          left: 15px;
          background: var(--darken-background);
          border-radius: 50%;
          padding: 10px;
          color: var(--brand-color);
        }

        .button-overlay {
          position: absolute;
          bottom: -100%;
          left: 0;
          width: 100%;
          height: 80px;
          background: linear-gradient(
            to top,
            var(--darken-background),
            #ffffff00
          );

          transition: 0.5s ease-in-out;
        }

        &:hover .button-overlay {
          bottom: 0;
        }
      }
      .product-text {
        h6 {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: 18px;
          color: var(--black-color);
        }
        p {
          font-size: 13px;
          color: var(--paragraph-color);
          font-weight: 500;
        }

        .price {
          font-size: 15px;
          color: var(--brand-color);
        }

        .rating {
          color: var(--primary-color);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  form {
    input,
    textarea {
      width: 100% !important;
    }
  }
}

@media (max-width: 519px) {
  .root {
    margin-top: 20px !important;
    app-bread-crumb {
      display: none;
    }
    .col-lg-7 {
      padding: 0;
    }
    .product-overview {
      flex-direction: column-reverse;
      .thumbnails {
        flex-direction: row !important;
        flex-wrap: wrap;
        .thumbnail {
          width: 100px;
          height: 100px;
          border-radius: 5px;
          overflow: hidden;
          cursor: pointer;
        }
      }

      .banner {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
      }
    }

    .related {
      .heading {
        h3 {
          font-size: 20px;
        }
        .primary-btn {
          padding: 5px 10px;
          font-size: 13px;
        }
      }
      .product {
        overflow: hidden;
        .image {
          position: relative;
          height: 300px;
          border-radius: 20px;
          overflow: hidden;
          .fa-heart {
            position: absolute;
            top: 15px;
            left: 15px;
            background: var(--darken-background);
            border-radius: 50%;
            padding: 10px;
            color: var(--brand-color);
          }

          .button-overlay {
            position: absolute;
            bottom: -100%;
            left: 0;
            width: 100%;
            height: 80px;
            background: linear-gradient(
              to top,
              var(--darken-background),
              #ffffff00
            );

            transition: 0.5s ease-in-out;
          }

          &:hover .button-overlay {
            bottom: 0;
          }
        }
        .product-text {
          h6 {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 18px;
            color: var(--black-color);
          }
          p {
            font-size: 13px;
            color: var(--paragraph-color);
            font-weight: 500;
          }

          .price {
            font-size: 15px;
            color: var(--brand-color);
          }

          .rating {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
