<app-client-nav></app-client-nav>
<main class="mt-5">
  <div class="container" [dir]="'dir' | translate">
    <h1 class="mb-3 fw-bolder">{{ "profile.title" | translate }}</h1>
    <div class="row gy-4 mt-4">
      <div data-aos="fade-right" class="col-md-3 h-100">
        <div class="links p-3 h-100">
          <h6 class="fw-bolder">
            {{ "profile.accountSection.title" | translate }}
          </h6>
          <ul class="p-0">
            <li class="mb-2">
              <a routerLink="account-information">{{
                "profile.accountSection.links.accountInfo" | translate
              }}</a>
            </li>
            <li class="mb-2">
              <a routerLink="change-password">{{
                "profile.accountSection.links.changePassword" | translate
              }}</a>
            </li>
            <li class="mb-2">
              <a routerLink="address">{{
                "profile.accountSection.links.modifyAddress" | translate
              }}</a>
            </li>
            <li class="mb-2">
              <a routerLink="/wishlist">{{
                "profile.accountSection.links.modifyWishlist" | translate
              }}</a>
            </li>
            <li class="mb-2">
              <a (click)="showDialog()" role="button" class="text-danger">{{
                "profile.accountSection.links.logout" | translate
              }}</a>
            </li>
          </ul>
          <h6 class="fw-bolder">
            {{ "profile.ordersSection.title" | translate }}
          </h6>
          <ul class="p-0">
            <li class="mb-2">
              <a routerLink="/allorders">{{
                "profile.ordersSection.links.viewOrders" | translate
              }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 px-3">
        <div class="child-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</main>

<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <ng-template pTemplate="headless">
    <div class="text-center dialog p-4 rounded-3 mx-2">
      <i class="fa-solid fa-exclamation bg-warning mb-3"></i>

      <h5 class="fw-bolder">{{ "profile.logoutDialog.title" | translate }}</h5>
      <p class="fw-medium">
        {{ "profile.logoutDialog.message" | translate }}
      </p>
      <div class="buttons d-flex gap-2 justify-content-center">
        <button class="btn btn-danger" (click)="logOut()">
          {{ "profile.logoutDialog.buttons.logout" | translate }}
        </button>
        <button class="btn btn-dark" (click)="visible = false">
          {{ "profile.logoutDialog.buttons.cancel" | translate }}
        </button>
      </div>
    </div></ng-template
  >
</p-dialog>
<app-footer></app-footer>
