<div
  class="search__overlay d-flex justify-content-center px-2"
  [class.active__search]="isSearchVisible"
>
  <div
    class="search-field p-2 d-flex justify-content-between align-items-center gap-2 rounded-2"
  >
    <i class="fa-solid fa-x close-btn" (click)="hideSearch()"></i>
    <input type="text" class="w-100" placeholder="What are you looking for?" />
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>

<app-phone-nav></app-phone-nav>

<nav class="border-bottom" [dir]="'dir' | translate">
  <div class="container-fluid">
    <div
      class="nav-controllers px-6 py-3 d-flex justify-content-between align-items-center gap-5"
    >
      <div class="d-flex justify-content-between align-items-center gap-5">
        <h1
          class="h2 logo mb-0 fw-normal headings-font fw-bold"
          routerLink="/home"
          role="button"
        >
          VIERRAS
        </h1>
        <ul class="nav-items d-flex gap-4 mb-0 p-0 nav-links">
          <li>
            <a routerLink="/home" class="text-uppercase fw-medium">{{
              "navItems.HOME" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/shop" class="text-uppercase fw-medium">{{
              "navItems.SHOP" | translate
            }}</a>
          </li>
          <li>
            <a
              class="mb-0 fw-medium text-uppercase position-relative"
              role="button"
              (click)="toggleMenu()"
              #menuTrigger
            >
              {{ "navItems.CATEGORIES" | translate }}
              <i class="fa-solid fa-chevron-down"></i>
            </a>
            <div class="mega-menu p-4 mt-3" *ngIf="isMenuVisible" #menu>
              <div class="row g-3">
                <div class="col-md-4">
                  <h4 class="h5 title">Men Fashion</h4>
                  <ul class="m-0 p-0">
                    <li>Clothing</li>
                    <li>Shoes</li>
                    <li>Accessories</li>
                    <li>Bags</li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h4 class="h5 title">Women Fashion</h4>
                  <ul class="m-0 p-0">
                    <li>Clothing</li>
                    <li>Shoes</li>
                    <li>Accessories</li>
                    <li>Bags</li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <h4 class="h5 title">Electronics</h4>
                  <ul class="m-0 p-0">
                    <li>Laptop</li>
                    <li>PC</li>
                    <li>Mobile</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a routerLink="/blog" class="text-uppercase fw-medium">{{
              "navItems.BLOG" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/contact" class="text-uppercase fw-medium">{{
              "navItems.CONTACT" | translate
            }}</a>
          </li>
        </ul>
      </div>

      <div class="controls d-flex gap-3 align-items-center">
        <span>
          <i
            role="button"
            class="fa-solid fa-magnifying-glass"
            (click)="showSearch()"
          ></i>
        </span>
        <span role="button" routerLink="/account">
          <i class="fa-regular fa-user"></i>
        </span>
        <span role="button" routerLink="/wishlist">
          <i class="fa-regular fa-heart" pBadge [value]="wishlistItems"></i>
        </span>
        <span class="d-flex align-items-center gap-2">
          <i
            role="button"
            class="fa-solid fa-shopping-bag"
            routerLink="/cart"
            pBadge
            [value]="cartItems"
          ></i>
          <div class="cart-price mx-2">
            <h3 class="mb-0">{{ "navItems.CART" | translate }}</h3>
            <p class="mb-0">{{ totalCartPrice + 50 | currency }}</p>
          </div>
        </span>
      </div>
    </div>
  </div>
</nav>
