<nav class="d-flex justify-content-start">
  <div class="container-fluid mx-0 py-2">
    <ul class="px-0 mb-0 d-flex justify-content-around align-items-center">
      <li
        role="button"
        routerLink="/home"
        routerLinkActive="active-link"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <i class="fa-solid mb-1 fa-house-chimney"></i>
        <a class="fw-medium">Home</a>
      </li>
      <li
        role="button"
        routerLink="/shop"
        routerLinkActive="active-link"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <i class="fa-solid mb-1 fa-bag-shopping"></i>
        <a class="fw-medium">Shop</a>
      </li>
      <li
        role="button"
        routerLink="/blog"
        routerLinkActive="active-link"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <i class="fa-solid mb-1 fa-blog"></i> <a class="fw-medium">Blog</a>
      </li>
      <li
        role="button"
        routerLink="/contact"
        routerLinkActive="active-link"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <i class="fa-solid mb-1 fa-headset"></i>
        <a class="fw-medium">Contact</a>
      </li>
    </ul>
  </div>
</nav>
