<app-quick-view
  [ngClass]="{ 'd-flex': isQuickViewVisible, 'd-none': !isQuickViewVisible }"
></app-quick-view>
<app-client-nav></app-client-nav>

<main class="container mt-5 root">
  <app-bread-crumb></app-bread-crumb>
  <div class="main" [dir]="'dir' | translate">
    <div class="filters px-2 py-4">
      <div class="filter categories p-3">
        <h4
          class="h5 title fw-bold d-flex justify-content-between"
          (click)="toggleFilter('categories')"
        >
          {{ "shopPage.categoriesFilter.title" | translate }}

          <i
            class="fa-solid fa-chevron-down"
            [ngClass]="{
                'fa-chevron-down':!CategoryFilters,
                'fa-chevron-up': CategoryFilters,
              }"
          ></i>
        </h4>
        <ul class="m-0" [class.expanded]="CategoryFilters">
          <li
            role="button"
            class="mb-2 fw-semibold"
            [routerLink]="['/shop/categories/', category._id]"
            *ngFor="let category of categories"
          >
            {{ category.name }}
          </li>
        </ul>
      </div>
    </div>

    <h2 class="h1 title fw-bolder my-4">{{ activeCategoryName }}</h2>

    <div class="row">
      <div class="col-lg-3 position-relative" #filtersContainer>
        <div class="filters_nav border rounded-4 p-3" #filtersNav>
          <div
            class="heading d-flex justify-content-between align-items-center border-bottom pb-2"
          >
            <h3 class="h4 fw-bold text-uppercase mb-0">
              {{ "shopPage.filterBy" | translate }}
            </h3>
            <p class="mb-0 text-uppercase fw-medium text-danger" role="button">
              {{ "shopPage.clearAll" | translate }}
            </p>
          </div>
          <div class="categories py-4">
            <h4 class="h5 title fw-bold mb-3">
              {{ "shopPage.categoriesFilter.title" | translate }}
            </h4>
            <ul class="m-0 p-0">
              <li class="mb-2 fw-medium" *ngFor="let category of categories">
                <a [routerLink]="['/shop/categories/', category._id]">
                  {{ category.name }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 position-relative">
        <div class="products_layout d-flex px-5 mb-4">
          <div class="sort">
            <h3 class="h6 mb-2">{{ "shopPage.sortBy.title" | translate }}</h3>
            <select class="form-control">
              <option value="popular">
                {{ "shopPage.sortBy.options.popular" | translate }}
              </option>
              <option value="highest">
                {{ "shopPage.sortBy.options.highest" | translate }}
              </option>
              <option value="lowest">
                {{ "shopPage.sortBy.options.lowest" | translate }}
              </option>
            </select>
          </div>
        </div>

        <div class="products px-5">
          <div class="row g-4">
            <div
              class="col-lg-4 col-md-6"
              *ngFor="let product of filteredProducts"
            >
              <div
                class="product"
                [routerLink]="['/product-details', product.id]"
              >
                <div class="image position-relative">
                  <i
                    *ngIf="!wishListProducts.includes($any(product.id))"
                    role="button"
                    class="fa-regular fa-heart"
                    (click)="addToWishlist($event, product.id)"
                  ></i>
                  <i
                    *ngIf="wishListProducts.includes($any(product.id))"
                    role="button"
                    class="fa-solid fa-heart"
                    (click)="removeFromWishlist($event, product.id)"
                  ></i>
                  <img
                    [src]="product.imageCover"
                    [alt]="product.imageCover"
                    [title]="product.title"
                  />
                  <button
                    class="primary-btn"
                    (click)="openQuickView($event, product)"
                  >
                    {{ "BUTTONS.quickViewButton" | translate }}
                  </button>
                </div>
                <div
                  class="product-details d-flex justify-content-between align-items-center gap-3 px-3 py-4"
                >
                  <div class="product-text">
                    <p class="mb-0 fw-medium text-capitalize">
                      {{ product.category.name }}
                    </p>
                    <h6 class="mb-2 fw-semibold">{{ product.title }}</h6>
                    <div class="rating">
                      <i
                        [ngClass]="{
                          'rating-color': product.ratingsAverage >= num,
                          'fa-regular': product.ratingsAverage < num,
                          'fa-solid': product.ratingsAverage >= num
                        }"
                        *ngFor="let num of [1, 2, 3, 4, 5]"
                        class="fa-star"
                      >
                      </i>
                    </div>
                    <div class="price fw-medium">
                      {{ product.price | currencyExchange : exchangeRate }}
                    </div>
                  </div>
                  <button
                    class="primary-btn"
                    (click)="addToCart($event, product.id)"
                  >
                    <i class="fa-solid fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
