<main class="d-flex justify-content-center align-items-center">
  <i class="fa-solid fa-arrow-left backBTN" routerLink="/auth/sign-in"></i>
  <div class="content text-center mx-3">
    <i class="fa-solid fa-lock mb-4"></i>
    <h1 class="h2 mb-2 fw-bolder">Forgot Password?</h1>
    <p>
      Don't worry we got you covered, Please <br />
      enter your email to get OTP verification code
    </p>
    <form
      (ngSubmit)="submitForm()"
      [formGroup]="userEmail"
      class="d-flex flex-column gap-4"
    >
      <div class="inputGroup px-2 py-2 input d-flex align-items-center gap-2">
        <i class="bx bx-envelope fs-5"></i>
        <input
          formControlName="email"
          class="w-100 fw-bold"
          type="email"
          placeholder="Email address"
        />
      </div>
      <p class="mb-0 text-danger" *ngIf="errMsg">{{ errMsg }}</p>
      <button type="submit" class="primary-btn fw-bold">Send OTP</button>
    </form>
  </div>
</main>
