<main class="d-flex justify-content-center align-items-center">
  <i class="fa-solid fa-arrow-left backBTN" routerLink="/auth/sign-in"></i>
  <div class="content text-center mx-3" [dir]="'dir' | translate">
    <i class="fa-solid fa-lock mb-4"></i>
    <h1 class="h2 mb-2 fw-bolder">
      {{ "forgotPassword.forgotPassword" | translate }}
    </h1>
    <p>
      {{ "forgotPassword.forgotPasswordMessage" | translate }}
    </p>
    <form
      (ngSubmit)="submitForm()"
      [formGroup]="userEmail"
      class="d-flex flex-column gap-4"
    >
      <div class="inputGroup px-2 py-2 input d-flex align-items-center gap-2">
        <i class="bx bx-envelope fs-5"></i>
        <input
          formControlName="email"
          class="w-100 fw-bold"
          type="email"
          [placeholder]="'forgotPassword.emailAddress' | translate"
        />
      </div>
      <p class="mb-0 text-danger" *ngIf="errMsg">{{ errMsg }}</p>
      <button type="submit" class="primary-btn fw-bold">
        {{ "forgotPassword.sendOTP" | translate }}
      </button>
    </form>
  </div>
</main>
