<div class="host d-flex align-items-center justify-content-center">
  <div class="overlay"></div>
  <h1 class="logo fw-bolder headings-font">VIERRAS</h1>

  <div class="content text-center">
    <h2 class="h1 fw-bolder mb-0">404</h2>
    <h3 class="h5 fw-bold">Page not found</h3>
    <p class="fw-medium">Sorry, we were unable to find that page</p>
    <button
      routerLink="/home"
      class="primary-btn d-flex align-items-center gap-3 mx-auto"
    >
      <i class="fa-solid fa-arrow-left"></i> Back to home
    </button>
  </div>
</div>
