<app-client-nav></app-client-nav>

<div class="root px-5">
  <div class="mx-5 breadcrumb">
    <app-bread-crumb></app-bread-crumb>
  </div>
  <div class="row mx-5 gy-4">
    <div class="col-xl-7 px-5">
      <div class="cart-content">
        <h1 class="fw-bold">Your cart</h1>
        <div
          data-aos="fade-right"
          class="cart-product border-bottom d-flex py-3"
          *ngFor="let product of cartProducts.products"
        >
          <div class="row">
            <div class="col-sm-3">
              <div class="image h-100 rounded-4 overflow-hidden">
                <img [src]="product.product.imageCover" [alt]="product.tile" />
              </div>
            </div>
            <div class="col-sm-9">
              <div
                class="product-text d-flex flex-column justify-content-center w-100 h-100"
              >
                <div
                  class="info d-flex justify-content-between align-items-center gap-4"
                >
                  <h4 class="fw-semibold">{{ product.product.title }}</h4>
                  <h4 class="fw-semibold">
                    {{ product.price | currency : "E£" }}
                  </h4>
                </div>
                <div class="description">
                  <p class="fw-medium">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sunt tenetur maiores illo facilis unde reprehenderit, hic
                    aspernatur, quas animi numquam optio distinctio odio
                    provident soluta nisi impedit quis quo temporibus!
                  </p>
                </div>
                <div
                  class="controllers d-flex justify-content-between align-items-center"
                >
                  <div class="btns d-flex gap-3">
                    <button
                      class="p-0 button fs-3"
                      *ngIf="
                        !wishListProducts.includes($any(product.product.id))
                      "
                      (click)="addToWishlist(product.product.id)"
                    >
                      <i class="fa-regular fa-heart"></i>
                    </button>
                    <button
                      class="p-0 button fs-3"
                      *ngIf="
                        wishListProducts.includes($any(product.product.id))
                      "
                      (click)="removeFromWishlist(product.product.id)"
                    >
                      <i class="fa-solid fa-heart"></i>
                    </button>
                    <button
                      class="p-0 button"
                      (click)="removeProduct(product.product.id, removeBtn)"
                      #removeBtn
                    >
                      <i class="fa-regular fa-trash-can fs-3 text-danger"></i>
                    </button>
                  </div>
                  <div
                    class="quantity d-flex justify-content-between align-items-center"
                  >
                    <button
                      (click)="
                        updateCount(
                          product.count - 1,
                          product.product.id,
                          btnPlus,
                          btnMinus
                        )
                      "
                      class="quantity-btn fw-bold"
                      #btnMinus
                    >
                      -
                    </button>
                    <input
                      type="number"
                      [(ngModel)]="product.count"
                      (input)="
                        updateCountOnInput(
                          $event,
                          product.product.id,
                          btnPlus,
                          btnMinus
                        )
                      "
                      class="text-center fw-bold"
                      #valueField
                    />
                    <button
                      (click)="
                        updateCount(
                          product.count + 1,
                          product.product.id,
                          btnPlus,
                          btnMinus
                        )
                      "
                      class="quantity-btn fw-bold"
                      #btnPlus
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-aos="fade-down" class="col-xl-5 px-5">
      <h2 class="fw-bold mb-4">Summary</h2>
      <div class="cart-summary pb-5 border-bottom mb-3">
        <div class="subTotal d-flex justify-content-between mb-2">
          <h4 class="fw-semibold h5">Subtotal</h4>
          <h4 class="fw-semibold h5">
            {{ cartPrice | currency : "E£" }}
          </h4>
        </div>
        <div class="delivery-tax d-flex justify-content-between mb-2">
          <h4 class="fw-semibold h5 text-capitalize">
            Estimated delivery & handling
          </h4>
          <h4 class="fw-semibold h5">Free</h4>
        </div>
        <div class="taxes d-flex justify-content-between mb-2">
          <h4 class="fw-semibold h5 text-capitalize">Estimated taxes</h4>
          <h4 class="fw-semibold h5">{{ 50 | currency : "E£" }}</h4>
        </div>
      </div>

      <div class="total-price d-flex justify-content-between my-4">
        <h4 class="fw-bold text-capitalize">Total</h4>
        <h4 class="fw-bold">{{ cartPrice + 50 | currency : "E£" }}</h4>
      </div>
      <button
        class="primary-btn w-100 fw-bold"
        [routerLink]="['/checkout', cartProducts._id]"
        [disabled]="cartProducts.products.length == 0"
      >
        Checkout Now
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
