<app-client-nav></app-client-nav>

<div class="mx-5">
  <app-bread-crumb></app-bread-crumb>
</div>

<div class="heading text-center mb-5">
  <i class="fa-regular fa-heart"></i>
  <h1 class="fw-bold">Your wishlist</h1>
  <p class="mb-0 fst-italic">
    You have {{ wishlistProducts.length }} items in your wishlist
  </p>
</div>

<div class="products px-5 container mt-4">
  <div class="row g-4">
    <div
      data-aos="zoom-out-up"
      class="col-lg-3 col-md-4 col-sm-6"
      *ngFor="let product of wishlistProducts"
    >
      <div class="product" [routerLink]="['/product-details', product.id]">
        <div class="image position-relative">
          <i
            role="button"
            class="fa-solid fa-heart"
            (click)="removeFromWishlist($event, product.id)"
          ></i>
          <img
            [src]="product.imageCover"
            [alt]="product.imageCover"
            [title]="product.title"
          />

          <div
            class="button-overlay d-flex justify-content-center align-items-center"
          >
            <button class="primary-btn" (click)="addToCart($event, product.id)">
              Add to Cart <i class="fa-solid fa-shopping-cart mx-1"></i>
            </button>
          </div>
        </div>
        <div
          class="product-details d-flex justify-content-between align-items-center gap-3 px-3 py-4"
        >
          <div class="product-text mt-3 w-100">
            <p class="mb-0 fw-medium text-capitalize">
              {{ product.category.name }}
            </p>
            <div
              class="d-flex align-items-center justify-content-between gap-1"
            >
              <h6 class="mb-0 fw-semibold">{{ product.title }}</h6>
              <p class="price fw-medium mb-0 fw-bold">
                {{ product.price | currencyExchange : exchangeRate }}
              </p>
            </div>
            <div class="rating">
              <i
                [ngClass]="{
                  'rating-color': product.ratingsAverage >= num,
                  'fa-regular': product.ratingsAverage < num,
                  'fa-solid': product.ratingsAverage >= num
                }"
                *ngFor="let num of [1, 2, 3, 4, 5]"
                class="fa-star"
              >
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
